{% extends 'base.html.twig' %}
{% block title %}User{% endblock %}

{% block body %}
<h1>User Details</h1>
    <p>{{ user.email }}</p>
    <p>{{ user.password }}</p>
    <hr>
    <a href="/" class="">Go Back</a>
{% endblock %}